---
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../layouts/global.css';

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Case</title>
  </head>

	<main>
		<Header></Header>
		
		<Hero header="CASE STUDIES SINGLE" image="../public/images/caseimg.png" info="Taxes & efficiency"/>
		
		
			
		<Footer></Footer>
	</main>



<style>
.info{
	color: red;
}
</style>
