---

---

<div class="footer">

  
    <img class="logo" src="/logo.png" alt="" />
    
    
    <nav>
      <ul>
        <h2>Product</h2>
        <a href="/case"><li>Case Study</li></a>
        <a href="/team"><li>Team</li></a>
        <a href="/"><li>About</li></a>
        <a href="/service"><li>Service</li></a>
      </ul></nav>

      <nav>
      <ul>
        <h2>Company</h2>
        <a href="/case"><li>Case Study</li></a>
        <a href="/team"><li>Team</li></a>
        <a href="/"><li>About</li></a>
        <a href="/service"><li>Service</li></a>
      </ul></nav>

<div>
        <h2>Address</h2>
        <p>1700 W Blancke St, kiyev 
            port south USA, America
            </p>
        <a href=""
          ><img
            class="book"
            src="/footerbutton.png"
            alt="Book an appointment"
          /></a
        >
    </div>

</div>

<style>
  .footer {
    color: white;
     background-image: url(/footerimg.png);
     background-repeat: no-repeat;
     background-size: 100%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;     
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: grey;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  .book {
    width: 10%;
  }

  .logo {
    width: 10%;
  }

  *{
    width: 100%;
  }
  
</style>
