---

---

<div class="footer">

  
    <h2>KOM TIL AT LAVE HEADER FØR JEG SÅ AT VI SKULLE SE BORT FRA DET</h2>

</div>

<style>
  .footer {
    color: white;
     background-image: url(/footerimg.png);
     background-repeat: no-repeat;
     background-size: 100%;
     text-align: center;
     
  }

  
</style>
