---

---

<div class="header">

<div class="blackbar">
<div class="opentime"><img src="/clock.png" alt=""><h3>Monday - Friday 8AM - 9PM</h3></div>
<div class="location"><img src="/location.png" alt=""><h3>725 Park Ave, New York</h3></div>
<div class="some"><img src="/instagram.png" alt=""><img src="/facebook.png" alt=""><img src="/twitter.png" alt=""><img src="/linked-in.png" alt=""></div>
</div>


<div class="navbar">
    <img class="logo" src="/logo.png" alt="">
    <nav>
        <ul>
            <li><img src="/dot2.png" alt="">Home</li>
            <a href="/case"><li><img src="/dot2.png" alt="">Case Study</li></a>
            <a href="/team"><li><img src="/dot2.png" alt="">Team</li></a>
            <a href="/"><li><img src="/dot2.png" alt="">About</li></a>
            <a href="/service"><li><img src="/dot2.png" alt="">Service</li></a>
        </ul>
    </nav>
    <img class="callus" src="/callus.png" alt="">

</div>

</div>



<style>
    .header{
        color: white;
    }

    .blackbar{
        background-color: #181818;
        display: flex;
        justify-content: space-evenly;
        padding: 2vh 5vh;
        font-size: 14px;
    }

    .some {
    display: flex;
    align-items: center; 
    gap: 1.5rem;
}

.location, .opentime {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.navbar{
    background-color: #2F2F2F;
    font-size: 18px;
    padding: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: grey;
   }

li{
    list-style: none;
    padding-left: 1rem;
}

li img{
    padding-right: 0.6rem;
}

ul{
    display: flex;
    align-items: center; 
    gap: 1rem;
}

.callus{
    width: 13%;
}

.logo{
    width: 10%;
}






</style>