*{
    margin: 0;
    padding: 0;
}

.grid_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7vh;
}








.active img{
    display: none;
}

.active {
    padding-left: 2rem;
    background-image: url('../public/dot.png'); 
    background-repeat: no-repeat;
    background-position: left center; 
}